<div class="topadminsubnav">
    <div class="btn-group" role="group">
        <a href="@Url.Action("Sections")" role="button" class="btn-mvc-green">Manage Sections</a>
        <a href="@Url.Action("AddEditSection")" role="button" class="btn-mvc-green">Create New</a>
    </div>
</div>