@model MVCForum.Website.Areas.Admin.ViewModels.CategoryViewModel


@section AdminHeader
{
    @(
 Bundle.JavaScript()
            .Add("~/Scripts/jquery.validate.min.js")
            .Add("~/Scripts/jquery.validate.unobtrusive.min.js")
            .MvcRender("~/scripts/cache/validate-combined_#.js")
    )
}


@using (Html.BeginForm("CreateCategory", "AdminCategory", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(false)
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Create New Category</legend>

        @Html.Partial("_CategoryFields", Model)

        <div class="submit-holder">
            <input type="submit" class="btn btn-large btn-success" value="Create" />
        </div>
    </fieldset>
}
