@{
    ViewBag.Title = "Manage Categories";
}

@section AdminHeader
{
    <script type="text/javascript">
        // Can also use beforeClose ?
        $('.catfancybox').fancybox({
            type: 'iframe',
            padding: 15,
            afterClose: function () {
                parent.location.reload(true);
            }
        });
    </script>
}

<div class="row-fluid">
    <div class="span12">
        @Html.Action("GetMainCategories")
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        @Html.Action("CreateCategory")
    </div>
</div>

