@{
    Layout = "~/Views/Shared/_Install.cshtml";
    ViewBag.Title = "MVCForum Installer";   
}

<div class="well well-large">
    <h3>All Going Well So Far...</h3>
    <p>We are going to create the MVCForum tables now (Or update them if needed).</p>
    <p class="submit-holder">
        <a href="@Url.Action("CreateDbTables", "Install")" class="btn btn-large dbcreatebutton">Continue...</a>
        <img src="@Url.Content("~/Installer/Content/arrow-spinner-blue.gif")" alt="Please Wait..." class="dbinstallwait" style="display: none;" />
    </p>
    
</div>

