@{
    Layout = "~/Views/Shared/_Install.cshtml";
    ViewBag.Title = "MVCForum Installer";   
}

<div class="well well-large">
    <p>You are about to install MVC Forum v1.0</p>
    <p><a href="@Url.Action("CreateDb", "Install")" class="btn btn-large">Next</a></p>
</div>
