@{
    ViewBag.Title = "Manual Upgrade Needed";
}

<h2>Manual Upgrade Needed</h2>

<p>Sorry, but we are not able to automatically update your version from your current version. Please be sure to upgrade one version at a time, for example 1.1 to 1.2, 1.2 to 1.3 etc...</p>
<p>And also check the website for any information/breaking changes between versions.</p>