@{
    Layout = "~/Views/Shared/_Install.cshtml";
    ViewBag.Title = "MVCForum Upgrade";
}

<div class="well well-large">
    <h3>No automatic upgrade available...</h3>    
    
    <p>
        Unfortunately due to the extent of changes in v1.3 to the database and views (And including completely rewriting the installer). We are unable to offer the automatic database 
        upgrade for versions under v1.3. 
    </p>
    
    <h3>However...</h3>
    
    <p>We always keep track of all database changes in a simple .txt file. And you can see exactly what changes we made by grabbing the source code
        and checking the following file and manually updating your database.</p>
    
    <h3>Database > VersionDbChanges.txt</h3>
    
</div> the website for any information/breaking changes between versions.</p>