
<div class="topadminsubnav">
    <div class="btn-group">
        @Html.ActionLink("List languages", "Index", "AdminLanguage", new { Area = "Admin" }, new { @class = "btn-mvc-green" })
        @Html.ActionLink("Manage resource keys", "ManageResourceKeys", "AdminLanguage", new { Area = "Admin" }, new { @class = "btn-mvc-green" })
        @Html.ActionLink("Create a new resource key", "AddResourceKey", "AdminLanguage", new { Area = "Admin" }, new { @class = "btn-mvc-green" })
        @Html.ActionLink("Import New Language", "Languages", "ImportExport", new { Area = "Admin" }, new { @class = "btn-mvc-green" })
    </div>
</div>