<div class="btn-group">
    @Html.ActionLink("List languages", "Index", "AdminLanguage", new { Area = "Admin" }, new { @class = "btn btn-success" })
    @Html.ActionLink("Manage resource keys", "ManageResourceKeys", "AdminLanguage", new { Area = "Admin" }, new { @class = "btn btn-success" })
    @Html.ActionLink("Create a new resource key", "AddResourceKey", "AdminLanguage", new { Area = "Admin" }, new { @class = "btn btn-success" })
    @Html.ActionLink("Import New Language", "Languages", "ImportExport", new { Area = "Admin" }, new { @class = "btn btn-success" })
</div>    