<?xml version="1.0"?>
<appSettings>

  <!--Social Keys-->
  <add key="FacebookAppId" value="" />
  <add key="FacebookAppSecret" value="" />
  <add key="GooglePlusAppId" value="" />
  <add key="GooglePlusAppSecret" value="" />
  
  <!--Choose the default editor for the forum-->
  <add key="EditorType" value="tinymceeditor" />
  <!--
    <add key="EditorType" value="bbeditor" />
    <add key="EditorType" value="markdowneditor" />
  -->

  <!--Avatar Image Sizes-->
  <add key="GravatarPostSize" value="50" />
  <add key="GravatarTopicSize" value="50" />
  <add key="GravatarProfileSize" value="85" />
  <add key="GravatarLeaderboardSize" value="20" />
  <add key="GravatarLikedBySize" value="20" />
  <add key="GravatarFooterSize" value="30" />

  <!--Paging Values-->
  <add key="PagingGroupSize" value="10" />
  <add key="AdminListPageSize" value="30" />
  <add key="ActiveTopicsListSize" value="100" />
  <add key="SearchListSize" value="30" />
  <add key="MembersActivityListSize" value="100" />
  <add key="PrivateMessageListSize" value="30" />
  <add key="SimilarTopicsListSize" value="20" />

  <!--File Upload Settings-->
  <add key="FileUploadAllowedExtensions" value="jpg,jpeg,png,gif" />
  <add key="FileUploadMaximumFileSizeInBytes" value="5242880" />
  <add key="UploadFolderPath" value="~/content/uploads/" />

  <!--Misc-->
  <add key="LogFileMaxSizeBytes" value="1000000" />
  <add key="BannedWordReplaceCharactor" value="?" />
  <add key="PrivateMessageWarningAmountLessThanAllowedSize" value="2" />

</appSettings>