<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="4.74.4698.25434" targetFramework="net40" />
  <package id="Akismet.NET" version="1.0" targetFramework="net40" />
  <package id="DataAnnotationsExtensions" version="1.1.0.0" targetFramework="net40" />
  <package id="DataAnnotationsExtensions.MVC3" version="1.1.0.0" targetFramework="net40" />
  <package id="Facebook" version="6.1.2" targetFramework="net40" />
  <package id="jQuery" version="1.8.2" targetFramework="net40" />
  <package id="jQuery.UI.Combined" version="1.9.0" targetFramework="net40" />
  <package id="jQuery.Validation" version="1.10.0" targetFramework="net40" />
  <package id="jQuery.vsdoc" version="1.6" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="SquishIt" version="0.9.0-beta3" targetFramework="net40" />
  <package id="SquishIt.Mvc" version="0.9.0-beta1" targetFramework="net40" />
  <package id="WebActivator" version="1.5.2" targetFramework="net40" />
  <package id="YUICompressor.NET" version="2.0.0.0" targetFramework="net40" />
</packages>