<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="4.48.4489.28432" targetFramework="net40" />
  <package id="Akismet.NET" version="1.0" targetFramework="net40" />
  <package id="angularjs" version="1.2.16" targetFramework="net45" />
  <package id="DataAnnotationsExtensions" version="1.1.0.0" targetFramework="net40" />
  <package id="DataAnnotationsExtensions.MVC3" version="1.1.0.0" targetFramework="net40" />
  <package id="DotNetOpenAuth" version="4.3.4.13329" targetFramework="net45" />
  <package id="DotNetOpenAuth.Core" version="4.3.4.13329" targetFramework="net45" />
  <package id="DotNetOpenAuth.Core.UI" version="4.3.4.13329" targetFramework="net45" />
  <package id="DotNetOpenAuth.InfoCard" version="4.3.4.13329" targetFramework="net45" />
  <package id="DotNetOpenAuth.InfoCard.UI" version="4.3.4.13329" targetFramework="net45" />
  <package id="DotNetOpenAuth.OAuth.Common" version="4.3.4.13329" targetFramework="net45" />
  <package id="DotNetOpenAuth.OAuth.Consumer" version="4.3.4.13329" targetFramework="net45" />
  <package id="DotNetOpenAuth.OAuth.Core" version="4.3.4.13329" targetFramework="net45" />
  <package id="DotNetOpenAuth.OAuth.ServiceProvider" version="4.3.4.13329" targetFramework="net45" />
  <package id="DotNetOpenAuth.OAuth2.AuthorizationServer" version="4.3.4.13329" targetFramework="net45" />
  <package id="DotNetOpenAuth.OAuth2.Client" version="4.3.4.13329" targetFramework="net45" />
  <package id="DotNetOpenAuth.OAuth2.Client.UI" version="4.3.4.13329" targetFramework="net45" />
  <package id="DotNetOpenAuth.OAuth2.ClientAuthorization" version="4.3.4.13329" targetFramework="net45" />
  <package id="DotNetOpenAuth.OAuth2.Core" version="4.3.4.13329" targetFramework="net45" />
  <package id="DotNetOpenAuth.OAuth2.ResourceServer" version="4.3.4.13329" targetFramework="net45" />
  <package id="DotNetOpenAuth.OpenId.Core" version="4.3.4.13329" targetFramework="net45" />
  <package id="DotNetOpenAuth.OpenId.Core.UI" version="4.3.4.13329" targetFramework="net45" />
  <package id="DotNetOpenAuth.OpenId.Provider" version="4.3.4.13329" targetFramework="net45" />
  <package id="DotNetOpenAuth.OpenId.Provider.UI" version="4.3.4.13329" targetFramework="net45" />
  <package id="DotNetOpenAuth.OpenId.RelyingParty" version="4.3.4.13329" targetFramework="net45" />
  <package id="DotNetOpenAuth.OpenId.RelyingParty.UI" version="4.3.4.13329" targetFramework="net45" />
  <package id="DotNetOpenAuth.OpenIdInfoCard.UI" version="4.3.4.13329" targetFramework="net45" />
  <package id="DotNetOpenAuth.OpenIdOAuth" version="4.3.4.13329" targetFramework="net45" />
  <package id="EntityFramework" version="6.1.0" targetFramework="net45" />
  <package id="Facebook" version="6.4.2" targetFramework="net40" requireReinstallation="True" />
  <package id="ImageProcessor" version="1.8.6.0" targetFramework="net45" />
  <package id="ImageProcessor.Web" version="3.2.0.0" targetFramework="net45" />
  <package id="jQuery" version="2.0.1.1" targetFramework="net40" />
  <package id="jQuery.UI.Combined" version="1.10.3" targetFramework="net40" />
  <package id="jQuery.Validation" version="1.8.1" targetFramework="net40" />
  <package id="jQuery.vsdoc" version="1.6" targetFramework="net40" />
  <package id="Microsoft.AspNet.Mvc" version="5.1.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.1.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.1.2" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.6" targetFramework="net40" requireReinstallation="True" />
  <package id="Microsoft.Bcl.Build" version="1.0.13" targetFramework="net40" />
  <package id="Microsoft.jQuery.Unobtrusive.Ajax" version="3.1.1" targetFramework="net45" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="3.1.1" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.18" targetFramework="net40" requireReinstallation="True" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" requireReinstallation="True" />
  <package id="Prettify" version="3.3.04.2013" targetFramework="net40" />
  <package id="SquishIt" version="0.9.5" targetFramework="net45" />
  <package id="SquishIt.Mvc" version="0.9.5" targetFramework="net45" />
  <package id="TinyMCE" version="4.0.21" targetFramework="net45" />
  <package id="WebActivator" version="1.5.2" targetFramework="net40" />
  <package id="YUICompressor.NET" version="2.0.0.0" targetFramework="net40" />
</packages>