@{
    Layout = "~/Views/Shared/_Install.cshtml";
    ViewBag.Title = "MVCForum Installer";
}

<div class="well well-lg">

    <p>You are about to install MVC Forum @HttpContext.Current.Application["Version"].ToString(). The installer assumes you have a few things done already, 
        but if you have installed via the Web Platform Installer then you will be fine to continue.</p>

    <h3>First Time Install - See Checklist</h3>

    <ol>
        <li>Make sure you have a blank database ready</li>
        <li>Make sure the connection string in the web.config is updated to point to this new database</li>
        <li>Make sure the database user has the correct permissions to create new tables</li>
    </ol>
    
    <p class="submit-holder"><a href="@Url.Action("CreateDb", "Install")" class="btn btn-default btn-lg btn-block">Start Install / Update...</a></p>
</div>
