@{
    Layout = "~/Views/Shared/_Install.cshtml";
    ViewBag.Title = "MVCForum Upgrade";
}

<div class="well well-lg">
    <h3>No automatic upgrade available...</h3>    
    
    <p>
        Unfortunately due to the extent of changes in v1.3 to the database and views (And including completely rewriting the installer). We are unable to offer the automatic database 
        upgrade for versions under v1.3. 
    </p>
   
</div> 