# Ignore file for Visual Studio 2008
# use glob syntax
syntax: glob
# Ignore Visual Studio 2008 files
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/
_ReSharper*/
[Tt]humbs.db
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
*.resharper
*.orig
*Backup/*
UpgradeLog2.htm
MVCForum.Website/Content/uploads/*
Badges/AuthorMarkAsSolution/*.dll
MVCForum.Website/Content/cache/*.css
MVCForum.Website/Scripts/cache/*.js
# Nuget
packages/*
MVCForum.Website/Properties/PublishProfiles/Profile1.pubxml
MVCForum.Website/Properties/PublishProfiles/Local Deployment.pubxml
MVCForum.Website/Properties/PublishProfiles/Profile1.pubxml
*.vspx
*.psess
MVCForum.Website/App_Data/cache/*
MVCForum.Website/App_Data/LogFile*
MVCForum.Website/App_Data/MVCForum.sdf
/Externals Old/Yahoo.Yui.Compressor.dll
/Externals Old/WebGrease.dll
/Externals Old/WebActivator.dll
/Externals Old/System.Web.WebPages.Razor.dll
/Externals Old/System.Web.WebPages.dll
/Externals Old/System.Web.WebPages.Deployment.dll
/Externals Old/System.Web.Razor.dll
/Externals Old/System.Web.Optimization.dll
/Externals Old/System.Web.Mvc.dll
/Externals Old/System.Web.Http.WebHost.dll
/Externals Old/System.Web.Http.dll
/Externals Old/System.Web.Helpers.dll
/Externals Old/System.Net.Http.WebRequest.dll
/Externals Old/System.Net.Http.Formatting.dll
/Externals Old/System.Net.Http.dll
/Externals Old/System.Data.SqlServerCe.dll
/Externals Old/SquishIt.Mvc.dll
/Externals Old/SquishIt.Framework.dll
/Externals Old/Skybrud.Social.Microsoft.dll
/Externals Old/Skybrud.Social.dll
/Externals Old/Quartz.dll
/Externals Old/NPoco.dll
/Externals Old/Newtonsoft.Json.dll
/Externals Old/MVCForum.Website.dll
/Externals Old/MVCForum.Utilities.dll
/Externals Old/MVCForum.Services.dll
/Externals Old/MVCForum.IOC.dll
/Externals Old/MVCForum.Domain.dll
/Externals Old/Microsoft.Web.Services3.dll
/Externals Old/Microsoft.Web.Infrastructure.dll
/Externals Old/Microsoft.Practices.Unity.RegistrationByConvention.dll
/Externals Old/Microsoft.Practices.Unity.dll
/Externals Old/Microsoft.Practices.Unity.Configuration.dll
/Externals Old/Microsoft.Practices.ServiceLocation.dll
/Externals Old/ImageProcessor.Web.dll
/Externals Old/ImageProcessor.dll
/Externals Old/Iesi.Collections.dll
/Externals Old/HtmlSanitizationLibrary.dll
/Externals Old/HtmlAgilityPack.dll
/Externals Old/EntityFramework.SqlServerCompact.dll
/Externals Old/EntityFramework.SqlServer.dll
/Externals Old/EntityFramework.dll
/Externals Old/EcmaScript.NET.dll
/Externals Old/Common.Logging.dll
/Externals Old/Common.Logging.Core.dll
/Externals Old/Badge.YourPostFavouritedTenTimes.dll
/Externals Old/Badge.YourPostFavourited.dll
/Externals Old/Badge.UserVoteUp.dll
/Externals Old/Badge.ThousandPoints.dll
/Externals Old/Badge.PostMentionsUmbraco.dll
/Externals Old/Badge.PosterVoteUp.dll
/Externals Old/Badge.PosterMarkAsSolution.dll
/Externals Old/Badge.Photogenic.dll
/Externals Old/Badge.Padawan.dll
/Externals Old/Badge.MemberForAYear.dll
/Externals Old/Badge.JediMaster.dll
/Externals Old/Badge.Grouch.dll
/Externals Old/Badge.FavouriteFirstPost.dll
/Externals Old/Badge.AuthorMarkAsSolution.dll
/Externals Old/Antlr3.Runtime.dll
/Externals Old/AntiXssLibrary.dll
/Externals Old/AjaxMin.dll
/MVCForum.Core/MVCForum.Domain - Copy.csproj
