@model MVCForum.Website.Areas.Admin.ViewModels.RoleViewModel

@{
    ViewBag.Title = "AddRole";    
}


@using (Html.BeginForm("AddRole", "Account", FormMethod.Post))
{
    @Html.ValidationSummary(false)
    <fieldset>
        <legend>Add New Role</legend>

        <div class="form-group">
            @Html.LabelFor(model => model.RoleName)
            @Html.TextBoxFor(model => model.RoleName, new{@class="form-control"})
            @Html.ValidationMessageFor(model => model.RoleName)
        </div>

    <div class="submit-holder">
        <input type="submit" class="btn-mvc btn-mvc-green" value="Create" />
    </div>
    </fieldset>
}
