
<div class="side-box sidesearchbox">
    <h5>@Html.LanguageString("Side.Search")</h5>
    @using (Html.BeginForm("Index", "Search", FormMethod.Get))
    {
        <ul class="clearfix">
            <li class="sidesearchboxtb">
                @Html.TextBox("term")
            </li>
            <li>
                <input type="submit" class="btn" value="Go" />
            </li>
        </ul>
    }
</div>