@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/BootStrap/css/bootstrap.min.css" type="text/css" rel="stylesheet" />    
    <link href="~/Content/styles.css" type="text/css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="~/Content/BootStrap/js/bootstrap.min.js"></script>    
    <script src="~/Content/Scripts/jquery.validate.min.js"></script>
    <script src="~/Content/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Content/Scripts/jquery.validate.unobtrusive.min.js"></script>    
</head>
<body>
    <div class="container">
        <div class="main-area">
            @RenderBody()
        </div>
    </div>
</body>
</html>
