/* --- Set main body styles --- */
body {font-family:Calibri, Arial, Helvetica, sans-serif;}

/* ---- Lees Clearer ---- */
.clearer {clear:both; line-height:1px; height:1px; font-size:1px;}

/* ---- Generic Link Styles ---- */
a, a:visited {}
a:hover, a:focus {}

/* ---- Generic Heading Styles ---- */
h1 {}
h2 {}
h3 {}
h4 {}
h5 {}

/* ---- Paragraph Styles ---- */
p {}

/*--- Padded Row ---*/
.paddedrow { padding-top: 10px;padding-bottom: 10px;}

.sidelayoutsection { position: relative;}

/*--- Forms --------*/

/*--- Validation errors ---*/
.validation-summary-errors {background-color: #F2DEDE; color: #B94A48; border: 1px solid #EED3D7; border-radius: 4px 4px 4px 4px; margin-bottom: 18px; padding: 8px 14px 8px 14px;text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);}
.validation-summary-errors span { display: block;padding: 0 0 5px 0;}

/*labels*/
.editor-label { padding: 5px 0 2px 0;}
.editor-label label {}

/*textboxes*/
.editor-field {}
.editor-field input[type=text], .editor-field input[type="password"] {font-size: 1.5em; width: 95%; line-height: 28px; height: 28px;}

/*textareas*/
textarea { min-height:220px; height:auto !important; height:220px;width: 95%;}

/*dropdowns*/
select {  }

/*--- Validation Errors ---*/
.input-validation-error {border-color: #B94A48; color: #B94A48;}
.field-validation-error span {color: #B94A48;display: block;}

/*checkboxes/radiobuttons*/
.editor-checkboxes {padding: 0 0 6px;}
.editor-checkboxes span { padding: 0 15px 0 0;}
.n3ocheckboxfield { overflow: hidden; padding: 4px 0 10px 0;}
.n3ocheckboxfield label {display: block; padding: 0 0 0 10px;float: left;}
.n3ocheckboxfield input { float: left;}

/*--- Ajax Spinner ---*/
.ajaxspinner { display: block;width:16px;height:16px;background: transparent url('../Images/arrow-spinner-blue.gif') no-repeat;text-transform: capitalize;text-indent: -9999px;}

/*submit buttons*/
.submit-holder { padding: 10px 0;}

/*--- Logo at the top ---*/
.brand { padding: 4px 0 0 0; margin: 10px auto 10px auto;width: 270px;height: 52px;display: block;text-transform: capitalize;text-indent: -9999px;background: transparent url('/installer/content/images/logo.png') no-repeat;}
