body, html {
    height: 100%;
    background-color: lightgray;
}

    body .container {
        height: calc(100%);
    }


div.main-area {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


#loginForm .input-group-addon {
    min-width: 100px;
    text-align: right;
}

div.field-validation-valid {
    display: none !important;
}

div.field-validation-error {
    text-align: center;
}
