/*--- Colours 
    Red: e74c3c
    Green: 90c153
    Blue: 2980b9
    Grey: efefef
    turquise: 2abda0
---*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

/*--- Body ---*/
body { font-family: 'Open Sans', Arial, Helvetica, sans-serif; color: #333333; }
h1, h2, h3, h4, h5, h6 { }

/*--- Buttons ---*/
.btn-mvc, .btn-mvc:visited { display: inline-block; padding: 7px 20px; margin-bottom: 0; font-size: 14px; font-weight: normal; line-height: 14px; text-align: center; white-space: nowrap; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none; background-image: none; border: 1px solid transparent; -ms-border-radius: 3px; border-radius: 3px; text-decoration: none; background-color: #efefef; color: #333; }
.btn-mvc:hover, .btn-mvc:focus, .btn-mvc:active { text-decoration: none; background-color: #e0e0e0; color: #333; }

.btn-mvc-red, .btn-mvc-red:visited { background-color: #e74c3c; color: #fff; }
.btn-mvc-red:hover, .btn-mvc-red:focus, .btn-mvc-red:active { background-color: #d83f2f; color: #fff; }

.btn-mvc-blue, .btn-mvc-blue:visited { background-color: #2980b9; color: #fff; }
.btn-mvc-blue:hover, .btn-mvc-blue:focus, .btn-mvc-blue:active { background-color: #2074aa; color: #fff; }

.btn-mvc-green, .btn-mvc-green:visited { background-color: #90c153; color: #fff; }
.btn-mvc-green:hover, .btn-mvc-green:focus, .btn-mvc-green:active { background-color: #7baa41; color: #fff; }

.btn-mvc-small, .btn-mvc-small:visited { padding: 5px 12px; font-size: 12px; line-height: 12px; }
.btn-mvc-small:hover, .btn-mvc-small:focus, .btn-mvc-small:active { }

.btn-mvc-large, .btn-mvc-large:visited { padding: 9px 25px; font-size: 19px; line-height: 19px; }
.btn-mvc-large:hover, .btn-mvc-large:focus, .btn-mvc-large:active { }

.btn-mvc-fullwidth, .btn-mvc-fullwidth:visited { padding-left: 0; padding-right: 0; width: 100%; display: block; }
.btn-mvc-fullwidth:hover, .btn-mvc-fullwidth:focus, .btn-mvc-fullwidth:active { }


/*--- Bootstrap verides ---*/
.navbar-default { background: #37393a; border: none; -ms-border-radius: 0; border-radius: 0; color: #fff; }
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:visited { color: #fff; }
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus { color: #fff; background-color: #444648; }
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus { background: #5d5d5e; color: #fff; }
.dropdown-menu { -ms-border-radius: 0; border-radius: 0; }
.navbar-default .navbar-brand, .navbar-default .navbar-brand:visited { color: #fff; font-weight: bold; }
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus { color: #efefef; }

.panel { }
.panel-mvc { border: 1px #ecf0f1 solid; -ms-border-radius: 0; border-radius: 0; -webkit-box-shadow: none; -ms-box-shadow: none; box-shadow: none; }
.panel-mvc > .panel-heading { background: #ecf0f1; color: #3b3b3b; -ms-border-radius: 0; border-radius: 0; }

/*---- Header ----*/
section.content-strip { margin-top: -20px; margin-bottom: 20px; background: #ecf0f1; color: #999999; }
section.content-strip ul { margin: 0; padding: 0; text-align: left; }
section.content-strip ul li { margin: 0; padding: 0; list-style: none; display: inline-block; text-align: center; }
section.content-strip ul li a, section.content-strip ul li a:visited { display: block; color: #3b3b3b; padding: 9px 18px 11px 18px; border-top: 5px transparent solid; }
section.content-strip ul li a:hover, section.content-strip ul li a:focus, section.content-strip ul li a.active { background-color: #fff; border-color: #2abda0; }

/*--- Side Boxes ---*/
.side-box { padding: 0 0 12px 0; }
.side-box h5 { font-size: 12px; color: #636267; text-transform: uppercase; border-bottom: 1px solid #e6e6e6; padding-bottom: 8px; margin-bottom: 12px; }

/*--- Side Boxes - Category ---*/
.categories-box { }
.categories-box ul { padding: 0; margin: 0; }
.categories-box ul li { margin: 2px 0; list-style: none; }
.categories-box ul li a, .categories-box ul li a:visited { border-left: 5px #90c153 solid; padding-left: 8px; }
.categories-box ul li a:hover, .categories-box ul li a:focus { }
.categories-box ul li ul { padding-left: 15px; }
.categories-box ul li ul li { }
.categories-box ul li ul li a { font-size: 12px; }

/*--- Side Boxes - Tags ---*/
.popular-tags-box {}
.popular-tags-box ul { padding: 0 0 0 6px;margin: 0 0 0 0;}
.popular-tags-box ul li { list-style: none;padding: 0;margin: 0 0 3px 0;display: inline;}

/*--- Side Box - High Earners ---*/
.highearners-box {}
.highearners-box ul { padding: 0;margin: 0;}
.highearners-box ul li { padding: 0;margin: 0;list-style: none;}
.highearners-box ul li span.earnername {}
.highearners-box ul li span.earneramount {display: block; float: right;color: #a1a0a0;}

/*--- Side Box - Hot Topics ---*/
.hottopics-box {}
.hottopics-box ul { padding: 0;margin: 0;}
.hottopics-box ul li { padding: 0;margin: 0;list-style: none;}

/*--- Create Topic Button ---*/
.createtopicbutton { margin-bottom: 20px; }

/*--- Topic Rows ---*/
.topicrow { padding: 15px; }
.topicrow.topicsticky-true { background-color: #f5f4f4; }
.topicrow.topiclocked-true { }
.topicrow.topicsolved-true { }
.topicrow p.category { line-height: 16px; font-size: 12px; color: #b3b3b3; padding: 0 0 0 10px; margin: 0; border-left: 3px solid #e74c3c; }
.topicrow p.category a, .topicrow p.category a:visited { color: #727272; }
.topicrow p.category a:hover, .topicrow p.category a:focus { color: #636262; }
.topicrow .topicby { }
.topicrowfooterinfo { line-height: 16px; font-size: 12px; color: #b3b3b3; font-weight: 300; }
.topicrowfooterinfo a, .topicrowfooterinfo a:visited { color: #727272; font-weight: 400; }
.topicrowfooterinfo a:hover, .topicrowfooterinfo a:focus { color: #000; }
.topicrow .topicrowcreater img { -ms-border-radius: 50%; border-radius: 50%; max-width: 50px; }
.topicrow .topicrowcreater { float: left; width: 60px; }
.topicrow .topicrowdetails { margin-left: 70px; }
.topicrow .topicrowdetails h3 { margin: 6px 0; padding: 0; }
.topicrow .topicrowdetails h3 a, .topicrow .topicrowdetails h3 a:visited { font-size: 22px; color: #3b3b3b; font-weight: 600; margin-top: 7px; line-height: 26px; text-decoration: none; }
.topicrow .topicrowdetails h3 a:hover, .topicrow .topicrowdetails h3 a:focus { color: #2c2c2c; text-decoration: underline; }
.topicrow .stats { color: #a1a0a0; margin: 0 0 0 5px; }
.topicrow .topicsolved { color: #90c153; }

/*--- Topic Widgets - Next To Headings ---*/
.widgetright { float: right; margin: 5px 0 10px 10px; }
.widgetleft { float: left; margin: 5px 10px 10px 0; }
.widgetright .glyphicon, .widgetleft .glyphicon { font-size: 18px; }

/*--- Tags ---*/
.tagsinput { padding: 0 0 8px 0;}
span.tag { display: inline-block;line-height: 18px;height: 18px;position: relative; -ms-border-radius: 0 3px 3px 0; border-radius: 0 3px 3px 0; background-color: #2abda0; color: #fff; font-size: 8px;margin-right: 6px;padding: 0 4px 0 2px;text-transform: uppercase;}
span.tag .badge { background-color: #23a68c;font-size: 10px;margin-top: 1px;}
span.tag:before { content: ""; float: left; position: absolute; top: 0; left: -6px; width: 0; height: 0; border-color: transparent #2abda0 transparent transparent; border-style: solid; border-width: 9px 6px 9px 0; }
span.tag a, span.tag a:visited { color: #fff; text-decoration: none;display: block;line-height: 18px;height: 18px; }
span.tag a:visited, span.tag a:focus { }
span.tag:hover {background-color: #25ad92;}
span.tag:hover:before {border-color: transparent #25ad92 transparent transparent;}

/*--- Footer ---*/
footer {background: #ecf0f1;padding:20px 0;margin: 20px 0 0 0;}
footer .licenceblock { font-weight: 400;font-size: 14px;padding:14px 0 0 0;margin:14px 0 0 0; text-align: center;border-top: 1px #e3e6e6 solid;}

/*--- Stats Block ---*/
.latest-members ul { padding: 0;margin: 0;}
.latest-members ul li {padding: 0 6px 4px 0;margin: 0;list-style: none;}

/*--- Members Online ---*/
.active-members {}
.active-members ul { padding: 0;margin: 0;}
.active-members ul li {padding: 0 6px 4px 0;margin: 0;list-style: none;}

/*============== MEDIA QUERIES OVERIDES ==============*/

@media (max-width: 1105px) {
}

@media (max-width: 1045px) {
}

@media (max-width: 979px) {
}

@media (max-width: 925px) {
}

@media screen and (max-width: 860px) {
}

@media (max-width: 767px) {
}

@media (max-width: 600px) {
}

@media (max-width: 480px) {
}
