<!-- Set the currently assigned cache implemtaion here. -->
<caching currentCache="DiskCache">
  <caches>
    <!--
      browserMaxDays (Added v4.6.0) separates the time to cache the image in the browser from the time to store
      the image in the cache

      folderDepth (Optional - Added v4.8.0) sets the maximum number folder levels to nest the cached images. Defaults to 6.
      trimCache (Optional - Added v4.8.0) whether to perform a cleanup of the cache when a new file is created. Defaults to true.
  -->
    <cache name="DiskCache" type="ImageProcessor.Web.Caching.DiskCache, ImageProcessor.Web"
           maxDays="365" browserMaxDays="7" folderDepth="6" trimCache="true">
      <!-- The virtual path to the disk cache location. -->
      <settings>
        <setting key="VirtualCachePath" value="~/app_data/cache"/>
        <!-- Added 4.7.0. Cache can now be hosted outside the application. -->
        <!-- Both of these are valid for storing cache files outside the web root -->
        <!-- <setting key="VirtualCachePath" value="~/../OUTSIDE"/> -->
        <!-- <setting key="VirtualCachePath" value="X:\Projects\YOUR_WEBSITE\OUTSIDE"/> -->
      </settings>
    </cache>
    <!-- Add other cache implementations here. -->
  </caches>
</caching>