<forum>
  <!-- Site Settings -->
  <settings>
    <setting key="MVCForumVersion" value="2.0" />

    <!--
      Other available editor - TinyMCE is the better option   
      <add key="EditorType" value="markdowneditor" />
    -->
    <setting key="EditorType" value="tinymceeditor" />

    <!--Social Login Credentials-->
    <setting key="FacebookAppId" value="" />
    <setting key="FacebookAppSecret" value="" />
    <setting key="GooglePlusAppId" value="" />
    <setting key="GooglePlusAppSecret" value="" />
    <setting key="MicrosoftAppId" value="" />
    <setting key="MicrosoftAppSecret" value="" />

    <!--Registration -->
    <setting key="AutoLoginAfterRegister" value="True" />

    <!--Avatar sizes-->
    <setting key="GravatarPostSize" value="50" />
    <setting key="GravatarTopicSize" value="50" />
    <setting key="GravatarProfileSize" value="85" />
    <setting key="GravatarLeaderboardSize" value="20" />
    <setting key="GravatarLikedBySize" value="20" />
    <setting key="GravatarFooterSize" value="30" />
    <setting key="GravatarLatestBySize" value="15" />

    <!--Paging Sizes-->
    <setting key="PagingGroupSize" value="10" />
    <setting key="AdminListPageSize" value="30" />
    <setting key="ActiveTopicsListSize" value="100" />
    <setting key="SearchListSize" value="20" />
    <setting key="MembersActivityListSize" value="100" />
    <setting key="PrivateMessageListSize" value="30" />
    <setting key="SimilarTopicsListSize" value="6" />

    <!--Post Settings-->
    <setting key="IncludeFullPostInEmailNotifications" value="True" />

    <!--Files-->
    <setting key="FileUploadAllowedExtensions" value="jpg,jpeg,png,gif,pdf" />
    <setting key="FileUploadMaximumFileSizeInBytes" value="5242880" />
    <setting key="UploadFolderPath" value="~/content/uploads/" />

    <!--Banned Words-->
    <setting key="BannedWordReplaceCharactor" value="?" />

    <!--Post Flood Control-->
    <setting key="PostSecondsWaitBeforeNewPost" value="10" />

    <!--Urls-->
    <setting key="CategoryUrlIdentifier" value="cat" />
    <setting key="TopicUrlIdentifier" value="thread" />
    <setting key="TagsUrlIdentifier" value="tagged" />
    <setting key="MemberUrlIdentifier" value="profile" />

    <!--Misc-->
    <setting key="LogFileMaxSizeBytes" value="1000000" />
    <setting key="PrivateMessageWarningAmountLessThanAllowedSize" value="2" />

    <!--Roles-->
    <setting key="StandardMembers" value="Standard Members" />

    <!--
     Category Permissions (DO NOT DELETE)
      ///  These are the permission names used as keys to return them
      ///  So they must be the same as the database value 
      ///  ** DO NOT ** change the core permissions names
      ///  or your forum is likely to stop working
    -->
    <setting key="PermissionReadOnly" value="Read Only" description="If you tick this, users in this role will not be able to post in the Category." />
    <setting key="PermissionDeletePosts" value="Delete Posts" description="If you tick this, users in this role will be able to delete other users posts and topics (Good Moderator permission)" />
    <setting key="PermissionEditPosts" value="Edit Posts" description="If you tick this, users in this role will be able to edit other users posts and topics (Good Moderator permission)"  />
    <setting key="PermissionCreateStickyTopics" value="Sticky Topics" description="If you tick this, users in this role will be able to make a sticky topic (Pin the topic) which will always be shown at the top of a category." />
    <setting key="PermissionDenyAccess" value="Deny Access" description="If you tick this, users will not be able to access or see the Category - Also they won't be able to see any posts, topics or tags that were created in it either (Private Categories)." />
    <setting key="PermissionLockTopics" value="Lock Topics" description="If you tick this, users in this role will be able to lock topics, stopping any further posting in it." />
    <setting key="PermissionVoteInPolls" value="Vote In Polls" description="If you tick this, users in this role will be able to vote in polls (As long as Create Polls is enabled)." />
    <setting key="PermissionCreatePolls" value="Create Polls" description="If you tick this, then users in this role will be able to create polls in a topic." />
    <setting key="PermissionCreateTopics" value="Create Topics" description="If you tick this, users in this role will be able to create topics" />
    <setting key="PermissionAttachFiles" value="Attach Files" description="If you tick this permission, users in this role will be able to attach files to topics and posts for download (file types and size can be restricted in web.config app settings - FileUploadAllowedExtensions and FileUploadMaximumFileSizeInBytes)" />
    <setting key="PermissionCreateTags" value="Create Tags" description="If you tick this permission, users in this role will be able to create new tags when creating a topic. If you leave it off, they will only be able to use existing tags." />

    <!-- Global Permissions -->
    <setting key="PermissionEditMembers" value="Edit Members" description="If you tick this, users will be able to edit other users profiles and also ban them from the forum." />
    <setting key="PermissionInsertEditorImages" value="Insert Editor Images" description="If you tick this, users will be able to upload and insert images into the TinyMCE editor." />

    <!-- Themes -->
    <setting key="ThemeRootFolder" value="~/Themes/" />
    <setting key="ThemeRootFolderName" value="Themes" />

    <!-- Database Context -->
    <setting key="MvcForumContext" value="MVCForumContext" />

    <!-- Home page view, options are: Topics or Categories or Sections -->
    <setting key="ForumIndexView" value="Topics" />
    
    <!--Plugin Search Locations - Comma seperated-->
    <setting key="PluginSearchLocations" value="~/App_Data/Plugins" />

  </settings>

  <!-- Emoticon replace icons, emoticons are stored in /Content/Images/emoticons -->
  <emoticons>
    <emoticon symbol=":D" image="big-smile-emoticon-for-facebook.png" />
    <emoticon symbol=":O" image="surprised-emoticon.png" />
    <emoticon symbol=":/" image="unsure-emoticon.png" />
    <emoticon symbol=":P" image="facebook-tongue-out-emoticon.png" />
    <emoticon symbol=":)" image="facebook-smiley-face-for-comments.png" />
    <emoticon symbol=":(" image="facebook-frown-emoticon.png" />
    <emoticon symbol=":'(" image="facebook-cry-emoticon-crying-symbol.png" />
    <emoticon symbol="O:)" image="angel-emoticon.png" />
    <emoticon symbol="3:)" image="devil-emoticon.png" />
    <emoticon symbol="-_-" image="squinting-emoticon.png" />
    <emoticon symbol=":*" image="kiss-emoticon.png" />
    <emoticon symbol="^_^" image="kiki-emoticon.png" />
    <emoticon symbol=":v" image="pacman-emoticon.png" />
    <emoticon symbol=":3" image="curly-lips-emoticon.png" />
    <emoticon symbol="o.O" image="confused-emoticon-wtf-symbol-for-facebook.png" />
    <emoticon symbol=";)" image="wink-emoticon.png" />
    <emoticon symbol="8-)" image="glasses-emoticon.png" />
    <emoticon symbol="8| B|" image="sunglasses-emoticon.png" />
  </emoticons>

  <plugins>
    <plugin name="StorageProviderType" value="MvcForum.Plugins.Providers.DiskStorageProvider" />

    <!-- All the badges that are allowed, if you don't want a bade just remove it below or add your own-->
    <plugin name="Badges" value="MvcForum.Plugins.Badges.AuthorMarkAsSolutionBadge,
                                  MvcForum.Plugins.Badges.FavouriteFirstPostBadge,
                                  MvcForum.Plugins.Badges.GrouchBadge,
                                  MvcForum.Plugins.Badges.JediMasterBadge,
                                  MvcForum.Plugins.Badges.MemberForAYearBadge,
                                  MvcForum.Plugins.Badges.OneThousandPoints,
                                  MvcForum.Plugins.Badges.PadawanBadge,
                                  MvcForum.Plugins.Badges.Photogenic,
                                  MvcForum.Plugins.Badges.PosterMarkAsSolutionBadge,
                                  MvcForum.Plugins.Badges.PosterVoteUpBadge,
                                  MvcForum.Plugins.Badges.UserVoteUpBadge,
                                  MvcForum.Plugins.Badges.YourPostFavouritedBadge,
                                  MvcForum.Plugins.Badges.YourPostFavouritedTenTimesBadge"
                                  />
    
    <!--
      All Piplines are comma seperated and are executed in order
    -->

    <plugin name="PipelinesTopicCreate" value="MvcForum.Plugins.Pipelines.Topic.TopicPermissionsPipe,
                                              MvcForum.Plugins.Pipelines.Topic.TopicSpamPipe,
                                              MvcForum.Plugins.Pipelines.Topic.TopicCreateEditPipe,
                                              MvcForum.Plugins.Pipelines.Topic.TopicNotificationsAndBadgesPipe" />
    
    <plugin name="PipelinesTopicUpdate" value="MvcForum.Plugins.Pipelines.Topic.TopicPermissionsPipe,
                                              MvcForum.Plugins.Pipelines.Topic.TopicSpamPipe,
                                              MvcForum.Plugins.Pipelines.Topic.TopicCreateEditPipe,
                                              MvcForum.Plugins.Pipelines.Topic.TopicNotificationsAndBadgesPipe" />
    
    <plugin name="PipelinesTopicDelete" value="MvcForum.Plugins.Pipelines.Topic.TopicDeletePipe" />
    
    <plugin name="PipelinesPostCreate" value="MvcForum.Plugins.Pipelines.Post.PostPermissionsPipe,
                                              MvcForum.Plugins.Pipelines.Post.PostSpamCheckPipe,
                                              MvcForum.Plugins.Pipelines.Post.PostCreateEditPipe,
                                              MvcForum.Plugins.Pipelines.Post.PostFilesPipe" />
    
    <plugin name="PipelinesPostUpdate" value="MvcForum.Plugins.Pipelines.Post.PostPermissionsPipe,
                                              MvcForum.Plugins.Pipelines.Post.PostSpamCheckPipe,
                                              MvcForum.Plugins.Pipelines.Post.PostCreateEditPipe,
                                              MvcForum.Plugins.Pipelines.Post.PostFilesPipe" />
    
    <plugin name="PipelinesPostDelete" value="MvcForum.Plugins.Pipelines.Post.PostDeletePipe" />
    
    <plugin name="PipelinesPostMove" value="MvcForum.Plugins.Pipelines.Post.PostPermissionsPipe,
                                              MvcForum.Plugins.Pipelines.Post.PostMovePipe" />
   
    <plugin name="PipelinesCategoryCreate" value="MvcForum.Plugins.Pipelines.Category.CategoryPermissionsPipe,
                                                  MvcForum.Plugins.Pipelines.Category.CategorySpamPipe,
                                                  MvcForum.Plugins.Pipelines.Category.CategoryCreateEditPipe,
                                                  MvcForum.Plugins.Pipelines.Category.CategoryFilesPipe" />
    
    <plugin name="PipelinesCategoryUpdate" value="MvcForum.Plugins.Pipelines.Category.CategoryPermissionsPipe,
                                                  MvcForum.Plugins.Pipelines.Category.CategorySpamPipe,
                                                  MvcForum.Plugins.Pipelines.Category.CategoryCreateEditPipe,
                                                  MvcForum.Plugins.Pipelines.Category.CategoryFilesPipe" />
    
    <plugin name="PipelinesCategoryDelete" value="MvcForum.Plugins.Pipelines.Category.CategoryDeletePipe" />

    <!--User Create Pipelines-->
    <plugin name="PipelinesUserCreate" value="MvcForum.Plugins.Pipelines.User.UserCheckBannedWordsPipe,
                                              MvcForum.Plugins.Pipelines.User.UserCreatePipe"
                                              />

    <!--User Edit Pipelines-->
    <plugin name="PipelinesUserUpdate" value="MvcForum.Plugins.Pipelines.User.UserEditPermissionsPipe,
                                              MvcForum.Plugins.Pipelines.User.UserCheckBannedWordsPipe,
                                              MvcForum.Plugins.Pipelines.User.UserEditPipe"
                                              />
    
    <!--User Login Pipelines-->
    <plugin name="PipelinesUserLogin" value="MvcForum.Plugins.Pipelines.User.UserLoginPipe"/>

    <!--User Delete Pipelines-->
    <plugin name="PipelinesUserDelete" value="MvcForum.Plugins.Pipelines.User.UserDeletePipe"/>

    <!--Scrubs a user-->
    <plugin name="PipelinesUserScrub" value="MvcForum.Plugins.Pipelines.User.UserScrubPipe"/>

    <!--Scrubs a user-->
    <plugin name="PipelinesPointsCreate" value="MvcForum.Plugins.Pipelines.Points.PointsCreatePipe"/>

    <!--Scrubs a user-->
    <plugin name="PipelinesPointsDelete" value="MvcForum.Plugins.Pipelines.Points.PointsDeletePipe"/>
    
  </plugins>

</forum>