@model MVCForum.Website.Areas.Admin.ViewModels.HighestViewedTopics

@if(Model.Topics.Any())
{
 <ul>
 @foreach (var topic in Model.Topics)
 {
    <li><a href="@topic.NiceUrl">@topic.Name (@topic.Views)</a></li>
 }
 </ul>
}
else
{
    <p>No data</p>
}