@model MvcForum.Web.ViewModels.Admin.LatestUsersViewModels

<div class="panel">
    <div class="panel-heading">
        <h5>Latest Users</h5>
    </div>
    @if (Model.Users.Any())
    {
        <ul class="list-group">
            @foreach (var user in Model.Users)
            {
                <li class="list-group-item">
                    <a href="@user.NiceUrl">@Html.Raw(user.UserName)</a> On @user.CreateDate.ToShortDateString()
                </li>
            }
        </ul>
    }
    else
    {
        <div class="panel-content">
            Nothing to show
        </div>
    }

</div>
