@model MVCForum.Website.Areas.Admin.ViewModels.LatestUsersViewModels

@if(Model.Users.Any())
{
 <ul>
 @foreach (var user in Model.Users)
 {
    <li><a href="@user.NiceUrl">@Html.Raw(user.UserName)</a> On @user.CreateDate.ToShortDateString()</li>
 }
 </ul>
}
else
{
    <p>No data</p>
}