@model MVCForum.Website.Areas.Admin.ViewModels.TodaysTopics

@if(Model.Topics.Any())
{
 <ul>
 @foreach (var topic in Model.Topics)
 {
    <li><a href="@topic.NiceUrl">@Html.Raw(topic.Name)</a> By <a href="@topic.User.NiceUrl">@topic.User.UserName</a></li>
 }
 </ul>
}
else
{
    <p>No data</p>
}
