@model MvcForum.Web.ViewModels.Admin.TodaysTopics


<div class="panel">
    <div class="panel-heading">
        <h5>Todays Topics</h5>
    </div>

        @if (Model.Topics.Any())
        {
            <ul class="list-group">
                @foreach (var topic in Model.Topics)
                {
                    <li class="list-group-item">
                        <a href="@topic.NiceUrl">@Html.Raw(topic.Name)</a> By <a href="@topic.User.NiceUrl">@topic.User.UserName</a>
                    </li>
                }
            </ul>
        }
        else
        {
            <div class="panel-body">
                Nothing to show
            </div>
        }
 
</div>
