@model MVCForum.Website.ViewModels.CreateTopicButtonViewModel
@if (Model.LoggedOnUser.DisablePosting != true && Model.UserCanPostTopics)
{
        <a href="@Url.Action("Create", "Topic")" class="btn-mvc btn-mvc-green btn-mvc-large btn-mvc-fullwidth createtopicbutton">
            @Html.LanguageString("Layout.CreateButton")
        </a>
}