@model MVCForum.Website.ViewModels.CreateTopicButtonViewModel
<div class="createtopicbutton">
    <a href="@Url.Action("Create", "Topic")" class="btn-mvc-green btn-mvc-large btn-mvc-fullwidth">
        @Html.LanguageString("Layout.CreateButton")
    </a>
</div>
