@model MVCForum.Website.ViewModels.ViewMemberViewModel
<div class="adminprofiletools">
    
    <p><a href="@Url.Action("Edit", "Account", new { area = "Admin", Model.User.Id }, null)" class="btn">@Html.LanguageString("Members.EditMember")</a></p>    
    <p><a href="@Url.Action("DeleteUsersPosts", "Account", new { area = "Admin", id = Model.User.Id }, null)" class="btn">@Html.LanguageString("Members.DeleteAllPosts")</a></p>

</div>