@model MVCForum.Website.ViewModels.ViewMemberViewModel
<div class="adminprofiletools">
    <p><a href="@Url.Action("Edit", "Account", new { area = "Admin", Id = Model.User.Id }, null)" class="btn">
           @Html.LanguageString("Members.EditMember")
    </a></p>
</div>