@model MVCForum.Website.ViewModels.HighEarnersPointViewModel

<ul>
    @foreach (var dict in Model.HighEarners)
    {    
        <li>
            <span class="earnername"><a href="@dict.Key.NiceUrl">@dict.Key.UserName</a></span>
            <span class="earneramount">@dict.Value</span>
        </li>
    }
</ul>