@{
    Layout = "_Layout.cshtml";
}

@section SocialMeta{
    @RenderSection("SocialMeta", false)
}

@section Header {
    @RenderSection("Header", false)
}

<div class="fullwidthlayout">
    @RenderBody()
</div>


@section Footer {
    @RenderSection("Footer", false)
}

