<noscript>
<div class="noscriptholder">
    <div class="alert alert-block alert-error fade in out">
        You must enable JavaScript to be able to use this site in full
    </div>
</div>
</noscript>