<!--Beware about adding emoticons with angle brackets >< as the matching code screws up the HTML -->
<emoticons>
  <emoticon symbol=":D" image="big-smile-emoticon-for-facebook.png" />
  <emoticon symbol=":O" image="surprised-emoticon.png" />
  <emoticon symbol=":/" image="unsure-emoticon.png" />
  <emoticon symbol=":P" image="facebook-tongue-out-emoticon.png" />
  <emoticon symbol=":)" image="facebook-smiley-face-for-comments.png" />
  <emoticon symbol=":(" image="facebook-frown-emoticon.png" />
  <emoticon symbol=":'(" image="facebook-cry-emoticon-crying-symbol.png" />
  <emoticon symbol="O:)" image="angel-emoticon.png" />
  <emoticon symbol="3:)" image="devil-emoticon.png" />
  <emoticon symbol="-_-" image="squinting-emoticon.png" />
  <emoticon symbol=":*" image="kiss-emoticon.png" />
  <emoticon symbol="^_^" image="kiki-emoticon.png" />
  <emoticon symbol=":v" image="pacman-emoticon.png" />
  <emoticon symbol=":3" image="curly-lips-emoticon.png" />
  <emoticon symbol="o.O" image="confused-emoticon-wtf-symbol-for-facebook.png" />
  <emoticon symbol=";)" image="wink-emoticon.png" />
  <emoticon symbol="8-)" image="glasses-emoticon.png" />
  <emoticon symbol="8| B|" image="sunglasses-emoticon.png" />
</emoticons>