<forum>
    <setting key="MVCForumVersion" value="1.8" />
  
      <!--
    These are the available editors
    
      <add key="EditorType" value="tinymceeditor" />
      <add key="EditorType" value="markdowneditor" />
    -->
    <setting key="EditorType" value="tinymceeditor" />
  
    <!--Social Login Credentials-->
    <setting key="FacebookAppId" value="" />
    <setting key="FacebookAppSecret" value="" />
    <setting key="GooglePlusAppId" value="" />
    <setting key="GooglePlusAppSecret" value="" />
    <setting key="MicrosoftAppId" value="" />
    <setting key="MicrosoftAppSecret" value="" />
  
    <!--Avatar sizes-->
    <setting key="GravatarPostSize" value="50" />
    <setting key="GravatarTopicSize" value="50" />
    <setting key="GravatarProfileSize" value="85" />
    <setting key="GravatarLeaderboardSize" value="20" />
    <setting key="GravatarLikedBySize" value="20" />
    <setting key="GravatarFooterSize" value="30" />
    <setting key="GravatarLatestBySize" value="15" />
  
    <!--Paging Sizes-->
    <setting key="PagingGroupSize" value="10" />
    <setting key="AdminListPageSize" value="30" />
    <setting key="ActiveTopicsListSize" value="100" />
    <setting key="SearchListSize" value="2" />
    <setting key="MembersActivityListSize" value="100" />
    <setting key="PrivateMessageListSize" value="30" />
    <setting key="SimilarTopicsListSize" value="6" />
  
    <!--Files-->
    <setting key="FileUploadAllowedExtensions" value="jpg,jpeg,png,gif,pdf" />
    <setting key="FileUploadMaximumFileSizeInBytes" value="5242880" />
    <setting key="UploadFolderPath" value="~/content/uploads/" />
    
    <!--Banned Words-->
    <setting key="BannedWordReplaceCharactor" value="?" />
  
    <!--Urls-->
    <setting key="CategoryUrlIdentifier" value="cat" />
    <setting key="TopicUrlIdentifier" value="thread" />
    <setting key="TagsUrlIdentifier" value="tagged" />
    <setting key="MemberUrlIdentifier" value="profile" />

    <!--Misc-->
    <setting key="LogFileMaxSizeBytes" value="1000000" />
    <setting key="PrivateMessageWarningAmountLessThanAllowedSize" value="2" />

    <!--Roles-->
    <setting key="StandardMembers" value="Standard Members" />

    <!--
     Category Permissions
      ///  These are the permission names used as keys to return them
      ///  So they must be the same as the database value - DO NOT change the core permissions names
      ///  or your forum is likely to stop working
    -->
    <setting key="PermissionReadOnly" value="Read Only" />
    <setting key="PermissionDeletePosts" value="Delete Posts" />
    <setting key="PermissionEditPosts" value="Edit Posts" />
    <setting key="PermissionCreateStickyTopics" value="Sticky Topics" />
    <setting key="PermissionDenyAccess" value="Deny Access" />
    <setting key="PermissionLockTopics" value="Lock Topics" />
    <setting key="PermissionVoteInPolls" value="Vote In Polls" />
    <setting key="PermissionCreatePolls" value="Create Polls" />
    <setting key="PermissionCreateTopics" value="Create Topics" />
    <setting key="PermissionAttachFiles" value="Attach Files" />

    <!--// Global Permissions-->
    <setting key="PermissionEditMembers" value="Edit Members" />
    <setting key="PermissionInsertEditorImages" value="Insert Editor Images" />

</forum>