<forum>
    <setting key="MVCForumVersion" value="1.8" />
    <setting key="FacebookAppId" value="" />
    <setting key="FacebookAppSecret" value="" />
    <setting key="GooglePlusAppId" value="" />
    <setting key="GooglePlusAppSecret" value="" />
    <setting key="MicrosoftAppId" value="" />
    <setting key="MicrosoftAppSecret" value="" />
    <!--
    These are the available editors
    
      <add key="EditorType" value="tinymceeditor" />
      <add key="EditorType" value="markdowneditor" />
    -->
    <setting key="EditorType" value="tinymceeditor" />
    <setting key="GravatarPostSize" value="50" />
    <setting key="GravatarTopicSize" value="50" />
    <setting key="GravatarProfileSize" value="85" />
    <setting key="GravatarLeaderboardSize" value="20" />
    <setting key="GravatarLikedBySize" value="20" />
    <setting key="GravatarFooterSize" value="30" />
    <setting key="GravatarLatestBySize" value="15" />
    <setting key="PagingGroupSize" value="10" />
    <setting key="AdminListPageSize" value="30" />
    <setting key="ActiveTopicsListSize" value="100" />
    <setting key="SearchListSize" value="2" />
    <setting key="MembersActivityListSize" value="100" />
    <setting key="PrivateMessageListSize" value="30" />
    <setting key="SimilarTopicsListSize" value="6" />
    <setting key="FileUploadAllowedExtensions" value="jpg,jpeg,png,gif,pdf" />
    <setting key="FileUploadMaximumFileSizeInBytes" value="5242880" />
    <setting key="UploadFolderPath" value="~/content/uploads/" />
    <setting key="LogFileMaxSizeBytes" value="1000000" />
    <setting key="BannedWordReplaceCharactor" value="?" />
    <setting key="PrivateMessageWarningAmountLessThanAllowedSize" value="2" />
</forum>