input.form-control, textarea.form-control, select.form-control, .panel-group .panel, .panel {
  -ms-border-radius: 0;
  border-radius: 0;
}

.navbar-brand {
  padding-top: 5px;
  padding-bottom: 5px;
  height: auto;
}

.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
}

.navbar {
  min-height: 40px;
}

.btn-mvc, .btn-mvc:visited {
  display: inline-block;
  padding: 7px 20px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 14px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  -ms-border-radius: 3px;
  border-radius: 3px;
  text-decoration: none;
  background-color: #efefef;
  color: #333;
}

.btn-mvc:hover, .btn-mvc:focus, .btn-mvc:active, .btn-mvc:visited:hover, .btn-mvc:visited:focus, .btn-mvc:visited:active {
  text-decoration: none;
  background-color: #e0e0e0;
  color: #333;
}

.btn-mvc-red, .btn-mvc-red:visited {
  display: inline-block;
  padding: 7px 20px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 14px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  -ms-border-radius: 3px;
  border-radius: 3px;
  text-decoration: none;
  background-color: #efefef;
  color: #333;
  background-color: #bd2a38;
  color: #fff;
}

.btn-mvc-red:hover, .btn-mvc-red:focus, .btn-mvc-red:active, .btn-mvc-red:visited:hover, .btn-mvc-red:visited:focus, .btn-mvc-red:visited:active {
  background-color: #d33847;
  color: #fff;
}

.btn-mvc-blue, .btn-mvc-blue:visited {
  display: inline-block;
  padding: 7px 20px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 14px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  -ms-border-radius: 3px;
  border-radius: 3px;
  text-decoration: none;
  background-color: #efefef;
  color: #333;
  background-color: #4891dc;
  color: #fff;
}

.btn-mvc-blue:hover, .btn-mvc-blue:focus, .btn-mvc-blue:active, .btn-mvc-blue:visited:hover, .btn-mvc-blue:visited:focus, .btn-mvc-blue:visited:active {
  background-color: #287acf;
  color: #fff;
}

.btn-mvc-green, .btn-mvc-green:visited {
  display: inline-block;
  padding: 7px 20px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 14px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  -ms-border-radius: 3px;
  border-radius: 3px;
  text-decoration: none;
  background-color: #efefef;
  color: #333;
  background-color: #2abd54;
  color: #fff;
}

.btn-mvc-green:hover, .btn-mvc-green:focus, .btn-mvc-green:active, .btn-mvc-green:visited:hover, .btn-mvc-green:visited:focus, .btn-mvc-green:visited:active {
  background-color: #229743;
  color: #fff;
}

.btn-mvc-small, .btn-mvc-small:visited {
  padding: 5px 12px;
  font-size: 12px;
  line-height: 12px;
}

.btn-mvc-large, .btn-mvc-large:visited {
  padding: 9px 25px;
  font-size: 19px;
  line-height: 19px;
}

.btn-mvc-fullwidth, .btn-mvc-fullwidth:visited {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  display: block;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

/*# sourceMappingURL=Admin.css.map */