@{
    ViewBag.Title = "Send Test Email";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("SendTestEmail", "Settings", FormMethod.Post))
{
    @Html.ValidationSummary(false)
    <p>Click the button below to send the test email</p>
    <div class="submit-holder">
        <input type="submit" class="btn-mvc btn-mvc-green btn-mvc-large" value="Send Test Email" />
    </div>
}
