@{
    ViewBag.Title = "Send Test Email";
}

<div class="panel">
    <div class="panel-heading">
        <h5>@ViewBag.Title</h5>
    </div>
    <div class="panel-content">
        @using (Html.BeginForm("SendTestEmail", "Settings", FormMethod.Post))
        {
            @Html.ValidationSummary(false)
            <p>Click the button below to send the test email, you must have saved your SMTP details on the previous page.</p>
            <div class="submit-holder">
                <input type="submit" class="btn-mvc-green btn-mvc-large" value="Send Test Email" />
            </div>
        }

    </div>
</div>

