@model List<MVCForum.Website.ViewModels.CategoryRowViewModel>
        
@if (Model.Any())
{
    foreach (var catModel in Model)
    {
        @Html.Partial("_Category", catModel)
    }
}
else
{
    <p>@Html.Lang("SubscribedCats.NothingToShow")</p>
}