
<div class="row documentation-message">
    <div class="col-md-6">

        <div class="panel panel-mvc">
            <div class="panel-heading">Documentation</div>
            <div class="panel-body">
                <p>
                    We are slowly putting up all our documentation on <a href="https://github.com/leen3o/mvcforum/wiki">Github in the Wiki</a>. Please feel free to suggest areas which we are missing.
                </p>
                <p><a href="http://www.mvcforum.com" class="btn-mvc">Go To Main Site</a></p>
            </div>
        </div>

    </div>
    <div class="col-md-6">

        <div class="panel panel-mvc">
            <div class="panel-heading">Help Us - Follow & Share</div>
            <div class="panel-body">
                <p>
                    We need your help to improve MVCForum and get the word out about it. Please follow us
                    via one of the links below, and also tweet or share MVCForum to your friends and collegues.
                </p>
                <div class="row">
                    <div class="col-xs-6">
                        <iframe src="http://www.facebook.com/plugins/like.php?href=https://www.facebook.com/pages/MVCForum/616922301692423&amp;layout=button_count&amp;show_faces=true&amp;width=180&amp;action=like&amp;font=arial&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border: none; overflow: hidden; width: 95px; height: 21px; padding: 0;" allowtransparency="true">Facebook button</iframe>
                    </div>
                    <div class="col-xs-6">
                        <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" src="http://platform.twitter.com/widgets/follow_button.1387492107.html#_=1387703846448&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=forummvc&amp;show_count=false&amp;show_screen_name=true&amp;size=m" class="twitter-follow-button twitter-follow-button" title="Twitter Follow Button" data-twttr-rendered="true" style="width: 131px; height: 20px;"></iframe>
                        <script type="text/javascript">
                            !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
