
<div class="row documentation-message">
    <div class="col-md-6">

        <div class="panel panel-mvc">
            <div class="panel-heading">Documentation</div>
            <div class="panel-body">
                <p>
                    We are slowly putting up all our documentation on <a href="https://github.com/YodasMyDad/mvcforum/wiki">Github in the Wiki</a>. Please feel free to suggest areas which we are missing.
                </p>
                <p><a href="http://www.mvcforum.com" class="btn-mvc">Go To Main Site</a></p>
            </div>
        </div>

    </div>
    <div class="col-md-6">

        <div class="panel panel-mvc">
            <div class="panel-heading">Issues &amp; Support</div>
            <div class="panel-body">
                <p>Our <a href="https://support.mvcforum.com">support forum</a> is for general help, suggestions and community discussion. If you find a bug, please post it on Github in the issues section.</p>
                <p><a href="https://github.com/YodasMyDad/mvcforum/issues" class="btn-mvc">Github Issues</a></p>
            </div>
        </div>
    </div>
</div>
