@using MvcForum.Web.Application.ExtensionMethods
@{
    var emailCookie = Request.Cookies[Constants.MemberEmailConfirmationCookieName];
    if (emailCookie != null)
    {
        <div class="alert alert-block alert-info">
            <a href="#" data-dismiss="alert" class="close">&times;</a>
            @Html.LanguageString("Members.MemberEmailAuthorisationNeededMessage") 
            <a class="btn-mvc-green" href="@Url.Action("ResendEmailConfirmation", "Members", new {username = emailCookie.Value})">
                @Html.LanguageString("Members.MemberEmailAuthorisationResend")
            </a>
        </div>
    }
}