<div class="cd-panel from-right" data-confirmationtext="@Html.Lang("SlidePanel.CloseConfirmation")">
    <header class="cd-panel-header">
        <h6></h6>
        <a href="#" class="cd-panel-close">Close</a>
    </header>
    <div class="cd-panel-container">
        <div class="cd-panel-content">
            <div class="loaderholder">
                <img src="@Url.Content("~/content/Images/ajaxloader-large.gif")" alt="" />
            </div>
        </div>
    </div>
</div>