@using MVCForum.Domain.Constants
@model MVCForum.Website.Areas.Admin.ViewModels.ChoosePermissionsViewModel
@{
    ViewBag.Title = "Permissions";
}


<h2>Permissions</h2>
<p>This section allows you to update and edit permissions</p>



@foreach (var role in Model.MembershipRoles)
{
    <ul class="rolepermissionlist">
        @if (role.RoleName != AppConstants.AdminRoleName)
        {
            <li><a href="@Url.Action("EditPermissions", new { role.Id })" class="btn-mvc">@role.RoleName</a></li>
        }
    </ul>
}


