@{
    ViewBag.Title = "Members";
}

@section AdminHeader
{
        @(
        Bundle.JavaScript()
            .Add("~/Scripts/jquery.validate.min.js")
            .Add("~/Scripts/jquery.validate.unobtrusive.min.js")
            
            .MvcRender("/scripts/cache/validate-combined_#.js")
    )  
}

<div class="adminsection clearfix">
    <h2>Export Members</h2>
     @using (Html.BeginForm("ExportUsers", "ImportExport"))
     {
         <div class="submit-holder">
             <button type="submit" class = "btn btn-success" >Export</button>
         </div>
     }
</div>

<div class="adminsection clearfix">
    <h2>Import Members</h2>
     @using (Html.BeginForm("ImportUsers", "ImportExport", FormMethod.Post, new { enctype = "multipart/form-data", id = "ImportForm", name = "ImportForm", target = "UploadTarget" }))
    {
        <div class="submit-holder">
            <input type="file" id="file" name="file" />
            <input type="submit"  class="btn btn-large btn-success" value="Import"/>
        </div>  
    }
    
       @*Results of any import are displayed here:*@
    <div id="ImportResults"></div>

    @*This frame is displayed off the page and gets the results of the import (ie the success or fail messages) *@
    <iframe id="UploadTarget" name="UploadTarget" onload="Import_Complete();" style="position: absolute; left: -999em; top: -999em;"></iframe>

</div>