<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.0" />
  <package id="CommonServiceLocator.NinjectAdapter" version="1.0.0.0" />
  <package id="EntityFramework" version="5.0.0-rc" />
  <package id="Unity" version="2.1.505.0" />
  <package id="Unity.Mvc3" version="1.2" />
</packages>