@model MVCForum.Website.ViewModels.ShowVotersViewModel

@if(Model.Votes.Any())
{
    <ul>
        @foreach(var vote in Model.Votes)
        {
            <li>@vote.User.UserName</li>
        }
    </ul>
}