@model MVCForum.Website.Areas.Admin.ViewModels.LocaleResourceKeyViewModel
@{
    ViewBag.Title = "Delete Resource";
}

@{


    using (Html.BeginForm("DeleteResource", "AdminLanguage", FormMethod.Post))
    {
            @Html.AntiForgeryToken()
            <h2>Delete Resource?</h2>        
            <p>Are you sure you want to delete this resource key (ALL languages will be affected)?</p>
            @Html.HiddenFor(x => x.Id)
            <div class="submit-holder">
                <input type="submit" class="btn-mvc btn-mvc-green" value="Yes"name="ButtonYes" /> 
                <input type="submit" class="btn-mvc btn-mvc-green" value="No" name="ButtonNo" />               
            </div>
        }

}     